<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <section>
      <h1><%= blogs.title %></h1>
      <p><%= blogs.content %></p>
    </section>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
